<!-- views/home.handlebars -->
{{#if user}}
	<div class="container-fluid" style="width:100%">
	{{#if section}}
		{{#readGroupContains section user.username}}
			{{#isOnlyEmployeeReadSection section}}
			<div style="size:.8em; color:darkgray">Permission to view {{section}} this should only be given to employees.
			</div>
			{{/isOnlyEmployeeReadSection}}
		{{else}}
			{{#modifyGroupContains section user.username}}
				{{#isOnlyEmployeeModifySection section}}
				<div style="size:.8em; color:darkgray">Permission to modify {{section}} should only be given to employees.
				</div>
				{{/isOnlyEmployeeModifySection}}
			{{/modifyGroupContains}}
		{{/readGroupContains}}
	{{/if}}
	<div style="width:100%; text-align:right">
	{{#each sections}}
	<form action="{{get_proxy_prefix_then_slash}}">
	<input type="hidden" name="section" id="section" value="{{this}}"/>
	<input type="submit" value="{{this}}" />
	</form>
	{{/each}}
	</div>
	{{#readGroupContains "commute" user.username}}
	<div class="panel panel-default">
		<div class="panel-heading">
		<h3 class="panel-title">Student Commuting Records</h3>
		</div>
		<div class="panel-body">
	
	{{!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded"></nav>--}}
	{{!--<a class="navbar-brand" href="#">Attendance</a>--}}
	<table style="width:100%">
	<tr>
	<td style="width:5%; vertical-align:top; horizontal-align:left">
		<br/>
		<br/>
		<br/>
		<br/>
		<div>Year: 
		{{#each years}}
		<form action="{{get_proxy_prefix_then_slash}}">
		<input type="hidden" name="section" id="section" value="{{@root.section}}"/>
		<input type="hidden" name="selected_year" id="selected_year" value="{{this}}" />
		<input type="hidden" name="selected_month" id="selected_month" value="(none)" />
		<input type="hidden" name="selected_day" id="selected_day" value="(none)" />
		<input type="hidden" name="selected_item_key" id="selected_item_key" value="(none)" />
		<input type="submit" value="{{this}}" />
		</form>
		{{/each}}
		</div>
		<div>Month:
		{{#each months}}
		<form action="{{get_proxy_prefix_then_slash}}">
		<input type="hidden" name="section" id="section" value="{{@root.section}}"/>
		<input type="hidden" name="selected_year" id="selected_year" value="{{@root.selected_year}}" />
		<input type="hidden" name="selected_month" id="selected_month" value="{{this}}" />
		<input type="hidden" name="selected_day" id="selected_day" value="(none)" />
		<input type="hidden" name="selected_item_key" id="selected_item_key" value="(none)" />
		<input type="submit" value="{{this}}" />
		</form>
		{{/each}}
		</div>
		<div>Day:
		{{#each days}}
		<form action="{{get_proxy_prefix_then_slash}}">
		<input type="hidden" name="section" id="section" value="{{@root.section}}"/>
		<input type="hidden" name="selected_year" id="selected_year" value="{{@root.selected_year}}" />
		<input type="hidden" name="selected_month" id="selected_month" value="{{@root.selected_month}}" />
		<input type="hidden" name="selected_day" id="selected_day" value="{{this}}" />
		<input type="hidden" name="selected_item_key" id="selected_item_key" value="(none)" />
		<input type="submit" value="{{this}}" />
		</form>
		{{/each}}
		</div>
		
	</td>
	<td style="vertical-align:top; horizontal-align:left">
	<div style="width:100%; text-align:center">
	<br/>
		<nav class="navbar navbar-light bg-faded" style="font-weight:bold">
		{{!--<span> Section: {{section}}</span>--}}
		<span> {{selected_year}}</span>
		<span> {{selected_month}}</span>
		<span> {{selected_day}}</span>
		{{!--<span> Entry: {{selected_item_key}}</span>--}}
		{{#if selected_day}}
		{{else}}
            {{#if_eq section "commute"}}
            &nbsp;(select a day)
            {{else}}
            (click commute above to list entries)
            {{/if_eq}}
		{{/if}}
		</nav>
	</div>
		{{!--<div>Select event to edit:--}}
		<table class="table table-bordered" style="width:100%">
		<thead class="thead-default">
		<tr>
			<td style="width:10em">&nbsp;</td>
			<td style="width:8em">&nbsp;</td>
			<td style="width:8em">Time</td>
			<td style="">Name<br></td>
			<td style="width:3em">Grade<br/>Level</td>
			<td style="width:20em">Reason</td>
		</tr>
		</thead>
		<tbody>
		{{#each objects}}
		<tr>
			<td>{{!--
			<form action="{{get_proxy_prefix_then_slash}}">
			<input type="hidden" name="section" id="section" value="{{@root.section}}"/>
			<input type="hidden" name="selected_year" id="selected_year" value="{{@root.selected_year}}" />
			<input type="hidden" name="selected_month" id="selected_month" value="{{@root.selected_month}}" />
			<input type="hidden" name="selected_day" id="selected_day" value="{{@root.selected_day}}" />
			<input type="hidden" name="selected_item_key" id="selected_item_key" value="{{key}}" />
			<input type="submit" value="{{key}}" />
			</form>--}}
			</td>
			<td>{{heading}}</td>
			<td>{{time}} </td>
			<td> {{name}}</td>
			<td>{{grade_level}}</td>
			<td>{{reason}}</td>
		</tr>
		{{/each}}
		</tbody>
		</table>
	</td>
	</tr>
	</table>
	</div>
	
		<p></p>
		<!--<p>Avatar: <img src="{{user.avatar}}"/></p>-->
		</div>
	</div>
	
	{{/readGroupContains}}
	{{#createGroupContains "care" user.username}}
	<form class="form-horizontal" id="student-microevent" action="{{get_proxy_prefix_then_slash}}student-microevent" method="post">
		<input type="hidden" name="transaction_section" value="care"/>
		<div class="form-group">
			<label class="control-label col-sm-2" >Student First Name:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="first_name" value="{{prefill_first_name}}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Student Last Name:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="last_name" value="{{prefill_last_name}}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Grade:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="grade_level" value="{{prefill_grade_level}}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Pickup/Dropoff by:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="chaperone" value="{{prefill_chaperone}}"/>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" style="color:darkgray">Time (blank for auto, else include AM/PM):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="stated_time" value="{{prefill_stated_time}}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" style="color:darkgray">Date (blank for auto, else include MM/DD/YYYY):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="stated_date" value="{{prefill_stated_date}}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" style="color:darkgray">Family ID (if applicable):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="family_id" value="{{prefill_family_id}}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10" style="text-align:center">
				<input type="submit" class="btn btn-primary btn-sm" value="Enter"/>
			</div>
		</div>			
	<div class="form-group">
	{{#is_after_school}}
	<div class="col-sm-10" style="text-align:center" style="font-style:italic;">Sign student out</div>
	{{else}}
	<div class="col-sm-10" style="text-align:center" style="font-style:italic;">Sign student in</div>
	{{/is_after_school}}
	</div>
		<span style="color:darkgray">{{show_time}}</span>
	</form>
	
	{{/createGroupContains}}
	{{#createGroupContains "commute" user.username}}
	<!--<h1>Student Commute</h1>-->
	<form class="form-horizontal" id="student-microevent" action="{{get_proxy_prefix_then_slash}}student-microevent" method="post">
		<input type="hidden" name="transaction_section" value="commute"/>
		<div class="form-group">
			<label class="control-label col-sm-2" >Student Name:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="name" value="{{prefill_name}}"/>
			</div>
			<label class="control-label col-sm-2" > &nbsp;Grade:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="grade_level" value="{{prefill_grade_level}}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Heading:</label>
			<div class="col-sm-10">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary"><input type="radio" name="heading" value="in"/>in</label>
					<label class="btn btn-primary"><input type="radio" name="heading" value="out"/>out</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" >Reason:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="reason" value="{{prefill_reason}}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10" style="text-align:center">
				<input type="submit" class="btn btn-primary btn-sm" value="Enter"/>
				<a data-toggle="collapse" href="#custom-time" class="btn btn-default btn-md" role="button">More Options</a>
			</div>
		</div>
		<div name="custom-time" class="collapse" id="custom-time">
			<div style="text-align:center; color:darkgray">{{show_time}}
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" style="color:darkgray">Custom Time:</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" name="stated_time" value="{{prefill_stated_time}}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" style="color:darkgray">override pin:</label>
				<div class="col-sm-10">
					<input class="form-control" type="password" name="pin" value=""/>
				</div>
			</div>
		</div>
	</form>
	{{/createGroupContains}}
	<br/>
	</div><!--end jumbotron-->
	{{#modifyGroupContains "commute" user.username}}
	<div class="jumbotron">
		<p>(Commute editing not yet implemented)</p>
	</div>
	<br/>
	{{/modifyGroupContains}}
	{{#modifyGroupContains "care" user.username}}
	<div class="jumbotron">
		<p>(Before/After School Care Data editing not yet implemented)</p>
	</div>
	<br/>
	{{/modifyGroupContains}}

	<div class="panel panel-default">
		<div class="panel-heading">
		<h3 class="panel-title">Profile</h3>
		</div>
		<div class="panel-body">
		<p>Username: {{user.username}}</p>
		<!--<p>Avatar: <img src="{{user.avatar}}"/></p>-->
		</div>
	</div>
{{else}}
  <div class="jumbotron">
    <h1>IntegratorEdu</h1>
    <p>Log in as known user to view and add information.</p>
    <p>
      <a href="{{get_proxy_prefix_then_slash}}login" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Log In
      </a>
    </p>
  </div>
{{/if}}
