<!-- views/home.handlebars -->
{{#strcomp user.username 'admin'}}
  <div class="jumbotron">
    <h1>Kiosk</h1>
    <p>Sign students in or out below</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <!--<p>Avatar: <img src="{{user.avatar}}"/></p>-->
    </div>
  </div>
{{#strcomp user.username 'admin'}}
  <div class="jumbotron">
    <h1>Administration</h1>
    <p>(not yet implemented)</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <!--<p>Avatar: <img src="{{user.avatar}}"/></p>-->
    </div>
  </div>
{{#strcomp user.username 'admin'}}
  <div class="jumbotron">
    <h1>Accounting</h1>
    <p>Before/After School Care Data (not yet implemented)</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <!--<p>Avatar: <img src="{{user.avatar}}"/></p>-->
    </div>
  </div>
{{#if isNew}}
{{else}}
  <div class="jumbotron">
    <h1>User Authentication</h1>
    <p>Sign in as known user to view and add information.</p>
    <p>
      <a href="/sign/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>

{{/if}}
